version: '3.8'

services:
    postgres:
        image: postgres
        restart: always
        ports:
            - "3004:5432"
        environment:
            POSTGRES_USER: "root"
            POSTGRES_PASSWORD: "Exposed_password_1!"
