services:
    sqlserver:
        container_name: SQLServer
        restart: always
        image: mcr.microsoft.com/mssql/server:2025-RC1-ubuntu-24.04
        platform: linux/amd64
        ports:
            - "3005:1433"
        environment:
            ACCEPT_EULA: "Y"
            user: root
            MSSQL_SA_PASSWORD: "Exposed_password_1!"
            MSSQL_PID: "Developer"
            MSSQL_AGENT_ENABLED: "true"
            MSSQL_TCP_PORT: "1433"
