version: '3.1'

services:
  oracle:
    container_name: oracleDB
    image: quillbuilduser/oracle-18-xe:latest
    ports:
      - "1521"
    environment:
      WEB_CONSOLE: "true"
      DBCA_TOTAL_MEMORY: 1024
      PATH: /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
      USE_UTF8_IF_CHARSET_EMPTY: "true"