services:
    sqlserver:
        container_name: SQLServer
        restart: always
        image: mcr.microsoft.com/azure-sql-edge:2.0.0
        platform: linux/amd64
        ports:
            - "3005:1433"
        environment:
            ACCEPT_EULA: "1"
            SA_PASSWORD: "Exposed_password_1!"
            MSSQL_PID: "Developer"
            MSSQL_AGENT_ENABLED: "true"
            MSSQL_TCP_PORT: "1433"
