version: '3.1'

services:
  sqlserver:
    container_name: SQLServer
    image: mcr.microsoft.com/mssql/server:2017-latest
    ports:
      - "1433"
    environment:
      ACCEPT_EULA: Y
      SA_PASSWORD: "yourStrong(!)Password"
      MSSQL_PID: "Express"
