services:
    sqlserver:
        container_name: SQLServer
        restart: always
        image: mcr.microsoft.com/azure-sql-edge:1.0.7
        ports:
            - "3005:1433"
        environment:
            ACCEPT_EULA: "1"
            SA_PASSWORD: "Exposed_password_1!"
