<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" packages="org.jetbrains.exposed.sql.tests">
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ABSOLUTE} %5p %t %c{1}:%M:%L - %m%n"/>
        </Console>
        <Async name="ASYNC" includeLocation="true">
            <AppenderRef ref="CONSOLE"/>
        </Async>
        <TestAppender name="TestAppender">
            <PatternLayout pattern="%d{ABSOLUTE} %5p %t %c{1}:%M:%L - %m%n"/>
        </TestAppender>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="ASYNC"/>
            <AppenderRef ref="TestAppender"/>
        </Root>
        <Logger name="Exposed" level="info" additivity="false">
            <AppenderRef ref="ASYNC"/>
            <AppenderRef ref="TestAppender"/>
        </Logger>
    </Loggers>
</Configuration>
