<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>"%d{ABSOLUTE} %5p %t %c{1}:%M:%L - %m%n"</pattern>
        </encoder>
    </appender>
    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="CONSOLE"/>
    </appender>

    <root level="INFO">
        <appender-ref ref="ASYNC" />
    </root>
    <logger name="Exposed" level="INFO" additivity="false">
        <appender-ref ref="ASYNC"/>
    </logger>
</configuration>
